<!DOCTYPE html>
<html lang="en">
<head>
  <title>nekobin</title>

  <meta charset="UTF-8">

  <meta content="Paste, save and share the link of your text content using a sleek and intuitive interface!"
        name="description">
  <meta content="#2B2B2B" name="theme-color">
  <meta content="pastebin,paste,paste tool,code,go,golang" name="keywords">

  <meta content="Nekobin.com &mdash; Elegant and open-source pastebin service" property="og:title">
  <meta content="website" property="og:type">
  <meta content="https://nekobin.com/static/img/nekobin.jpg" property="og:image">
  <meta content="https://nekobin.com/" property="og:url">
  <meta content="Paste, save and share the link of your text content using a sleek and intuitive interface!"
        property="og:description">
  <meta content="Nekobin" property="og:site_name">
  <meta content="en_US" property="og:locale">

  <link href="static/favicon.ico" rel="shortcut icon"/>
  <link href="https://nekobin.com/" rel="canonical"/>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.003/web/hack.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/theme/darcula.min.css" rel="stylesheet"/>
  <link href="static/css/app.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/addon/display/placeholder.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/addon/mode/loadmode.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/meta.min.js"></script>
  <script src="static/js/app.js"></script>
</head>

<body>
<header class="unselectable">
  <div class="title">
    <a href="/" style="color: #8A8A8A; text-decoration: none">
          <span>
            {<i><span style="color: var(--accent-color)"><b>neko</b></span></i>:<i><span
            style="color: #A8A8A8">bin</span></i>}
          </span>
    </a>
  </div>

  <div class="hidden" id="url">
    <i class="fas fa-copy"></i>
  </div>

  <div class="actions">
    <button class="fas fa-save action" disabled id="save"></button>
    <button class="fas fa-code action" disabled id="raw"></button>
    <button class="fas fa-plus action" id="new"></button>
    <span class="divider"></span>
    <button class="fas action" id="theme"></button>
  </div>
</header>

<div id="content"></div>

<footer class="unselectable">
  <div id="copyright">
    Copyright <i class="far fa-copyright"></i> {{.year}} -
    <a class="fas fa-cat" href="static/img/robi.jpg" style="text-decoration: none" target="_blank"></a>
    <a href="https://github.com/delivrance" rel="noopener" target="_blank">Dan</a>
  </div>

  <div class="links">
    <div class="link">
      <i class="fas fa-address-card"></i>
      <a href="about.md">About</a>
    </div>

    <div class="link">
      <i class="fab fa-github"></i>
      <a href="https://github.com/nekobin/nekobin" rel="noopener" target="_blank">Source</a>
    </div>

    <div class="link">
      <i class="fab fa-telegram-plane"></i>
      <a href="https://t.me/haskell" rel="noopener" target="_blank">Contact</a>
    </div>
  </div>
</footer>
</body>
</html>
